.site-title {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #000;
	width: 100%;
	padding-bottom: 0.5em;
}
.container {
    display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

ul {
	list-style: none;
}
ul li {
	display: inline;
}