@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

body {
    font-family: 'Gelasio', serif;
}
.site-header {
    width: auto;
    height: 60px;
    background-color: #E6E3DE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 2em;
    justify-content: space-between;
}
.site-header li {
    display: inline-block;  
}
.site-header ul {
    list-style: none;
}
.site-header ul li a {
    text-decoration: none;
    color: #554938;
    padding: 1em;
}
.logo {
    color: #554938;
}
.login button {
    background-color: #554938;
    border: none;
    padding: 10px;
    color: white;
}
.header-text {
    color: white;
    text-align: center;
    padding: 3em;
}
.login button {
    margin-right: 0.5em;
}
.search-bar {
    width: 100%;
    height: 600px;
    background-image: url('../Requirements-and-Resources/Media/craving.jpg');
    background-position: center center;
    background-size: cover;  
}
.search-bar h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 3em;
}
.search-bar .search {
    padding-top: 50px;
    text-align: center;
}
.search-bar .search input[type=text] {
    width: 350px;
    height: 35px;
    opacity: 0.8;
    border: none;
}
::placeholder {
    padding-left: 10px;
}
.main-content {
    background-image: url('../Requirements-and-Resources/Media/background.jpg');
    width: 100%;
    height: 2000px;
    background-position: center center;
}
.article {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
    height: 500px;
    background-color: #E6E3DE;
    position: relative;
    top: 5em;
}
img {
    width: 60%;
    height: auto;   
}
.article_text h1  {
    font-size: 36px;
}
.article_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


