@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

body {
    font-family: 'Gelasio', serif;
}
.site-header {
    width: auto;
    height: 60px;
    background-color: #E6E3DE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 2em;
    justify-content: space-between;
}
.site-header li {
    display: inline-block;  
}
.site-header ul {
    list-style: none;
}
.site-header ul li a {
    text-decoration: none;
    color: #554938;
    padding: 1em;
}
.logo {
    color: #554938;
}
button {
    background-color: #554938;
    border: none;
    padding: 10px;
    color: white;
}
.header-text {
    color: white;
    text-align: center;
    padding: 3em;
}
.login button {
    margin-right: 0.5em;
}
.search-bar {
    width: 100%;
    height: 600px;
    background-image: url('../Requirements-and-Resources/Media/craving.jpg');
    background-position: center center;
    background-size: cover;  
}
.search-bar h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 3em;
}
.search-bar .search {
    padding-top: 50px;
    text-align: center;
}
.search-bar .search input[type=text] {
    width: 350px;
    height: 35px;
    opacity: 0.8;
    border: none;
}
::placeholder {
    padding-left: 10px;
}
.main-content {
    background-image: url('../Requirements-and-Resources/Media/background.jpg');
    width: 100%;
    height: 1700px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.article {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 500px;
    background-color: #E6E3DE;
    position: relative;
    top: 5em;
    margin-bottom: 5em;
}
img {
    width: 60%;
    height: auto;   
}
.article_text h1  {
    font-size: 36px;
}
.article_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.article button {
    margin-top: 1.5em;
    padding: 1em;
}
.title-aside{
    display: inline-block;
    padding: 0.5em 2em;
    background-color: #E6E3DE;
    opacity: 0.8;
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #554938;
    
}
.aside-photos {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aside-photo {
    width: 20%;
}
.aside-photo img {
    width: 100%;
    vertical-align: middle;
}

.aside-photos h3 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    background-color: #E6E3DE;
    opacity: 0.8;
    page-break-after: 1em;
    padding: 0.7em 0;
}
.shop {
    background-color: rgb(219, 77, 52);
    color: white;
    padding: 0.8em 5em;
    font-weight: bold;
    margin: 2em 0;

}
.footer {
    width: 100%;
    height: 100px;
    background-color: #E6E3DE;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.footer a {
    text-decoration: none;
    color: #554938;
}
.footer nav ul li {
    display: inline;
    padding: 0 0.5em;
    border-left: 1px solid #554938;;
}
.footer nav ul li:first-child{
    border: none;
}

