body, ul, li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    align-items: stretch;
}
body {
    margin: 4em 10em;
}
li {
    border: 10px solid black;
    padding: 1em;
    margin: 4em;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7), 0 0 10px grey;
    height: 400px;
}
li img {
    object-fit: contain;
}
