html {
    font-family: "Noto Sans JP";
}
header {
    width: 100%;
    height: 80px;
    background-color: rgb(249, 55, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header nav ul li {
    padding: 0 0.5em;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
} 
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 228, 228);
}
.search {
    width: 30%;
    position: relative;
    display: flex;
} 
.searchTerm {
    width: 100%;
    border: 3px solid rgb(249, 55, 0);
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
} 
.searchButton {
    width: 40px;
    height: 40px;
    border: 3px solid  rgb(249, 55, 0);
    border-left: none;
    background: rgb(182, 175, 175);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-left: 0;
}
.account-bar {
    display: flex;
}
.account-bar p a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.nav-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 2em 0;
}
.nav-picture {
    width: 250px;
}
.nav-picture img {
    width:100%;
    height: 250px;
}
.nav-picture p {
    color: rgb(130, 142, 158);
    font-size: 1.3em;
    text-align: center;
    padding-top: 0.5em;
}
.main-picture {
    width: 80%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.main-picture-text {
    width: 35%;
}
.main-picture-img {
    width: 65%;
}
.main-picture-img img {
    width: 100%;
}
.main-picture-text h1 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    color:rgb(249, 55, 0);
}
.main-picture-text p {
    color: rgb(130, 142, 158);
    padding-bottom: 1em;
}
.main-picture button {
    background-color: rgb(249, 55, 0);
    border-radius: 3px;
    color: white;
    border: none;
    padding: 1em;
}
.aside-banner {
    background-color: rgb(202, 195, 195);
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 1em 0;
    padding: 2em 0;
}
.single-banner {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-banner img {
    width: 30%;
    background-color: rgb(240, 228, 228);
    border-radius: 50%;
    padding: 1em;
    box-sizing: content-box;

}
.single-banner h3, .single-banner p {
    text-align: center;
    color: rgb(81, 76, 76);
}
.single-banner h3 {
    padding: 0.5em;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(81, 76, 76);
}
footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
footer nav ul li{
    display: inline-block;
    list-style-type: none;
    color: rgb(81, 76, 76);
    padding: 0.3em;
}
footer nav ul li:first-child{
    font-size: 1.2em;
}
footer nav ul li button {
    background-color: rgb(202, 195, 195);
    border: none;
    border-radius: 2px;
    color: rgb(81, 76, 76);
    padding: 0.5em 2em;
    
}
footer nav:nth-child(2) ul li:nth-child(4),
footer nav:nth-child(2) ul li:nth-child(5),
footer nav:nth-child(2) ul li:nth-child(6),
footer nav:nth-child(2) ul li:nth-child(7){
    font-size: 1.7em;
    padding: 0 0.2em;
}

