body {
    background-color: rgb(238, 238, 238);
    display: flex;     
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 5em 5em;
    
}
img {
    border-radius: 10px;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.5);
}
.smallImage {

  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.insideSmallImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
